body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

/* Dit styled de header */
.header {
  height: 50px;
  box-shadow: 0px 2px 4px rgba(30, 30, 30, 0.265);
  padding: 0px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 20px;
}

/* Styling voor nav button */
.agendaNavButton {}

#agendaNavButtonBack {
  margin-right: 20px;
}

#agendaNavButtonNext {
  margin-left: 20px;
}

.agendaContainer {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.agendaSelector {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.agendaSelector,
button {
  margin: 0px 5px;
}

.agenda {
  flex: 1;
  width: 100%;
  margin-bottom: 10px;
}

.agendaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;

}

.agendaDag {
  background-color: rgb(215, 215, 215);
  margin: 1px;
}